<div class="jumbotron home-jumbo">
  <div>
    <div class="flex">
      <h1>Whisky </h1>
      <%=image_tag ('whisky_bottle.svg'), :class=>"bottle"%>
      <h1> Notes</h1>
    </div>
    <div class="center-text">
      <%= link_to "Sign up", new_user_path, :class=>'btn btn-main'%>
    </div>
  </div>

</div>

<div class="main-content">

</div>
