<div class="main-content ">

  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 content">

      <div class="row">
      

        <% if !@search.search_whiskies%>
          <p> No Whiskies matched your search</p>
        <%else%>


          <%@search.search_whiskies.each do |whisky|%>
            <div class="col-sm-4">
              <div class="card">
                <%if whisky.image.thumb.url%>
                  <%=image_tag whisky.image.thumb.url, :class=>'card-image img-zoom'%>
                <%else%>
                  <%=image_tag ("aberlour12yr.jpg") , :class=>'card-image img-zoom'%>
                <%end%>
                <div class="card-block">
                  <h4><%=link_to whisky.name, whisky_path(whisky)%></h4>
                  <p>12yr<p>
                </div>
              </div>
            </div>
          <%end%>

        <%end%>
      </div>
    </div>
  </div>
</div>
