/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "home.scss";
 @import "whiskies.scss";
 @import "notes.scss";
 @import "searches.scss";
 @import "users.scss";
 @import "sessions.scss";

 $maroon:#43050e;
 $gold:#b2852f;
 $off-white:#f5f0ee;
 $yellow:#ffa100;


//Global
p, a, td, th, h1 {
  color: black;
}

h1 {
  font-family: 'Lora', serif;
}
h4 {
  color: $yellow;
}
.main-content {
  background: url("wood_grain.jpg")
}
.jumbotron {
  margin-bottom: 0px;
}
a:hover {
  text-decoration: none;
}
.navbar.navbar-default {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0px;
}
.navbar.navbar-default li a {
  color: #dec9b4;
  font-size: 17px;
  font-weight: 300;
}
.navbar.navbar-default li a:hover {
  color: #efe2d5;
}

.navbar.navbar-default .navbar-collapse {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.navbar {
  margin-bottom: 0px;
  background-color: $maroon;
}
.nav.navbar-nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.navbar-default .navbar-toggle {
  border: 1px solid #b89f85;
}
.navbar-default .navbar-toggle:hover {
  background-color: #260005;
}
.glyphicon-menu-hamburger {
  color: #b89f85;
}

//Home Page
.fade-in {
  display: none;
}
.bottle {
  display: none;
}
.btn-main {
  margin-top: 15px;
  color:$yellow;
  border: 2px solid $yellow;
  border-radius: 5px;
  background-color: rgba(1,1,1,0);
}
.btn-second {
  margin-top: 15px;
  color:$maroon;
  border: 2px solid $maroon;
  border-radius: 5px;
  background-color: rgba(1,1,1,0);
}

//Whisky Index **ALL GLOBAL
.secondary-jumbo {
  background: url("whisky.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   height: 50vh;
   color: $yellow;
   display: flex;
   align-items: center;
   justify-content: center;
}
.content {
  background-color: white;
  min-height: 100vh;
}
.whisky-thumb {
  display: flex;
  justify-content: center;
}
.card-image {
  padding: 20px;
  height: 300px;
  min-width: 80%;
}
.card-image-bg {
  width: 110%;
}
.card {
  padding: 23px;
}
.card-block {
  border-top: solid 2px $maroon;
  height: 35px;
}

//Whisky Show
// .whisky-bottle {
//   width: 100%;
// }
// .padding {
//   padding: 60px;
// }
// .table {
//   border-bottom: solid 1px lightgrey;
// }
//User Forms
.form-page {
  color: $yellow;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("whisky.jpg") no-repeat center center fixed;

}
.full-form {
  width: 33%;
}
.form-control {
  border: none;
  -webkit-box-shadow: none;
    box-shadow: inset none;
  border-bottom: 2px solid $yellow;
  border-radius: 0px;
  background: rgba(1,1,1,0);
  color: $gold;
}
.modal-content {
  background-color: white;
  color: black;
  padding: 50px;
}
.modal-header {
  border-bottom: solid grey;
}
.img-zoom {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}

.transition {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.rating {
  border: solid $maroon 4.5px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
